/*

!.gitignore

# General exclude rules move here
*.meta
!*.*.meta

!_
!AddressableAssetsData
!Gizmos
!Plugins
!Resources
# Not adding a sub folder gitignore file into Resources for clean purpose
Resources/**
!Resources/DOTweenSettings.asset
!Resources/DOTweenSettings.asset.meta
!Standard Assets
# !Universal RP
