/*

.DS_Store

!.editorconfig
!.gitignore
!README.md

!unity-project.code-workspace

!cloudbuild-build-asset.yaml
!cloudbuild-build-release.yaml

!config
!docker-compose.yml
!id_rsa_jb_github.enc

!remove-dsstore.ps1
!setup-game-ref.ps1

# Folders below
!add-package-to-unity
!asset-creature-design-unity
!asset-hud-design-unity
!asset-level-design-unity
!asset-unification-unity
!behavior-unification-unity
!complete-unity
!game-specific
!unity-setup

!prepare-ucb-build-asset
!prepare-ucb-build-release
# Rename to prepare-build-release soon
!push-build-release
