/*

!.gitignore

# General exclude rules move here
*.meta
!*.*.meta

!_
!AddressableAssetsData
# Some Unity package create assets under Assets/Editor folder and unsure if these can be moved
!Editor
!Editor Default Resources
!Gizmos
!Plugins
!Resources
# Not adding a sub folder gitignore file into Resources for clean purpose
Resources/**
!Resources/DOTweenSettings.asset
!Resources/DOTweenSettings.asset.meta
!Standard Assets

# Adding Inkle will result these two files being created under Assets folder. Thinking
# to move these files somewhere else later.
!InkLibrary.asset
!InkLibrary.asset.meta
!InkSettings.asset
!InkSettings.asset.meta