/*

!.gitignore

# General exclude rules move here
*.meta
!*.*.meta

!_
# Some Unity package create assets under Assets/Editor folder and unsure if these can be moved
!Editor
!Editor Default Resources
!Gizmos
!Plugins
# Not adding a sub folder gitignore file into Resources for clean purpose
!Resources
Resources/**
!Resources/I2Languages.asset
!Resources/I2Languages.asset.meta
!Standard Assets

!AddressableAssetsData
AddressableAssetsData/**
!AddressableAssetsData/AssetGroupTemplates/
AddressableAssetsData/AssetGroupTemplates/**
!AddressableAssetsData/AssetGroupTemplates/Packed Assets.asset
!AddressableAssetsData/AssetGroupTemplates/Packed Assets.asset.meta
!AddressableAssetsData/DataBuilders/
AddressableAssetsData/DataBuilders/**
!AddressableAssetsData/DataBuilders/BuildScriptFastMode.asset
!AddressableAssetsData/DataBuilders/BuildScriptFastMode.asset.meta
!AddressableAssetsData/DataBuilders/BuildScriptPackedMode.asset
!AddressableAssetsData/DataBuilders/BuildScriptPackedMode.asset.meta
!AddressableAssetsData/DataBuilders/BuildScriptPackedPlayMode.asset
!AddressableAssetsData/DataBuilders/BuildScriptPackedPlayMode.asset.meta
!AddressableAssetsData/DataBuilders/BuildScriptVirtualMode.asset
!AddressableAssetsData/DataBuilders/BuildScriptVirtualMode.asset.meta
!AddressableAssetsData/AddressableAssetSettings.asset
!AddressableAssetsData/AddressableAssetSettings.asset.meta
!AddressableAssetsData/DefaultObject.asset
!AddressableAssetsData/DefaultObject.asset.meta

!Ludiq
